    <!-- footer -->
    <div id="justpushtobottom"> </div>

    <footer class="footer p-t-1">
        <div class="container" id="contact">
            <div class="pull-right">
                <nav class="navbar" style="background:transparent; color: #d0e5e5;">
                    <nav class="nav navbar-nav pull-xs-left">
                        <h3 class="nav-item nav-link">Contact Details</h3>
                        <hr>
                        <a class="nav-item nav-link" href="mailto:vviikkaasshh1997@gmail.com">Email: iit2016041@iiita.ac.in</a>
                        <br>
                        <a class="nav-item nav-link" href="mailto:vviikkaasshh1997@gmail.com">Email: iit2016051@iiita.ac.in</a>
                    </nav>
                </nav>
            </div>
            <br>
            <a href="https://www.facebook.com/eci" target="_blank">
                <i class="fa fa-facebook-official fa-2x"></i></a>
            <a href="https://plus.google.com/u/0/100909606885328207299/" target="_blank">
                <i class="fa fa-google-plus-square fa-2x"></i></a>
            <a href="https://twitter.com/kvikash076/" target="_blank">
                <i class="fa fa-twitter fa-2x"></i></a>
            <a href="https://www.quora.com/profile/Vikash-Kumar-956/" target="_blank">
                <i class="fa fa-quora fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/vikash-kumar-053ab9136/" target="_blank">
                <i class="fa fa-linkedin fa-2x"></i></a>
            <a href="https://github.com/vikash-kr/" target="_blank">
                <i class="fa fa-github fa-2x" style="color: white;"></i></a>
            <br>
            <p class="h6">
                <b>Copyright @ Vikash Kumar AND Rakesh Lakra</b>
            </p>
        </div>
</footer>
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="/js/bootstrap.min.js"></script>

</body>

</html>