<% include partials/header %>
<link href="/css/landingStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<% include partials/topbar %>
<script type="text/javascript" src="//use.typekit.net/qqh1pgl.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<div class="wrapper">
  <div class="features">
    <article>
      <a href="http://eci.nic.in/eci_main1/ecr.aspx"  target="_blank">
        <img src="http://eci.nic.in/eci_main1/images/cec_r.jpg" class="img-rounded">
        <h3>Sh. Om Prakash Rawat </h3> 
        <h4>Chief Election Commissioner</h4>
        <p class="meta">
          Shri Om Prakash Rawat assumed charge as Chief Election Commissioner of India on 23.01.2018. He joined the Commission as Election Commissioner of India on 14.08.2015. He is retired Indian Administrative Service (IAS) officer of Madhya <u class="u">read more</u>
        </p>
        <div class="thumbnail" style="background-image: url(https://www.iaspaper.net/wp-content/uploads/2015/05/Untitled5.png);opacity: 0.1;"></div>
      </a>
    </article>
    
    <article>
      <a href="http://eci.nic.in/eci_main1/index.aspx"  target="_blank">
        <h3>Notifications</h3>
        <ul>
            <li><h5>General Election to the Legislative Assembly of Karnataka– Media Coverage during the period referred to in Section 126 of the Representation of People Act, 1951 <img src="http://www.animatedgif.net/new/new1_e0.gif"></h5></li>
            <li><h5>Notification for election in Karnatka <img src="http://www.animatedgif.net/new/new1_e0.gif"></h5></li> 
            <li><h5>Instructions on use of EVMs with Voter Verifiable Paper Audit Trail system (VVPAT)- regarding (English) / (हिंदी)</h5></li>

        </ul>
        <div class="thumbnail" style="background-image: url(https://www.iaspaper.net/wp-content/uploads/2015/05/Untitled5.png);opacity: 0.3;"></div>
      </a>
    </article>
   </div> 
</div>
   
<% include partials/footer %>