<% include partials/header %>

  <link href="/css/voter.css" rel="stylesheet" type="text/css">
  </head>

  <body>
  	<% include partials/topbar %>
    <div class = "container">
 	<h1>Welcome</h1>

  	</div>


  <% include partials/footer %>